<section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
    <section fxLayout="column">
        <h1>Pourquoi payé cher?</h1>
        <span>
            L'électricité coûte chaque année de plus en plus cher, + 2% pour 2020,
            1000 euros de facture pour se chauffer...
            Avec  nos solutions, reduisez votre facture par 2 ou 3.

            De l'économie et du confort !
        </span>
    </section>

    <section>
        <img src="assets/tarif.png">
    </section>

    <section>
        <h1>Le droit au confort</h1>
        <span>
            <div>
                <span>
                    Froid l'hiver, chaud l'été...
                </span>
            </div>
                    Profitez d'une chaleur et d'une climatisation avec 1 seul équipement,
                    d'un  confort toute saison tout en faisant des économies

        </span>

    </section>


</section>
