<section fxLayout="column" class="faq">
    <section class="faq__questionsReponses" fxLayout="column">
        <span class="faq__questionsReponses__questions">
            Quelle est le délai moyen d'une installation?
        </span>
        <span class="faq__questionsReponses__reponses">
            1 journée
        </span>
    </section>
    <section class="faq__questionsReponses" fxLayout="column">
        <span class="faq__questionsReponses__questions">
            Quelle est le délai moyen d'une installation?
        </span>
        <span class="faq__questionsReponses__reponses">
            1 journée
        </span>
    </section>
    <section class="faq__questionsReponses">
        <span class="faq__questionsReponses__questions" fxLayout="column">
            Quelle est le délai moyen d'une installation?
        </span>
        <span class="faq__questionsReponses__reponses">
            1 journée
        </span>
    </section>
    <section class="faq__questionsReponses" fxLayout="column">
        <span class="faq__questionsReponses__questions">
            Quelle est le délai moyen d'une installation?
        </span>
        <span class="faq__questionsReponses__reponses">
            1 journée
        </span>
    </section>
</section>
