.faq{
    &__questionsReponses{
        padding: 30px;
        text-align: center;


        &__questions{
            font-size: 19px;
            font-weight: bolder;
            text-decoration: underline;
            padding: 10px;
        }

        &__reponses{
            font-size: 15px;
        }
    }
}