<form [formGroup]="simulateurForm">
    <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center"f class="accueil">
        

        <section class="accueil__presentation" fxLayout="column" fxLayoutAlign="center center">
          <h2>NOTRE POLITIQUE POUR VOUS</h2>
          <h3>Que confort rime avec économie !</h3>
            <section fxLayout="column">
                  <span>ECONOMIE</span>
                  <span>CONFORT</span>
                  <span>FIABILITE</span>
                  <span>ZERO SOUS-TRAITANCE</span>
                  <span>ACCOMPAGNEMENT</span>
            </section>
           
        </section>

        <section class="accueil__agrement" fxLayout="column" fxLayoutAlign="space-around center">
           <h2>VOS SUBVENTIONS</h2>
           <h3>Nous éffectuons les démarches administratives pour vous </h3>
           <section fxLayout="column" fxLayoutAlign="center center">
            <section fxLayout="row" fxLayoutAlign="space-around center">
              <img src="assets/sub/anah.jpg">
              <img src="assets/sub/ademe.png">
            </section>
            <section fxLayout="row" fxLayoutAlign="center center">
              <img src="assets/sub/edf.png">
              <img src="assets/sub/tresor.png">
            </section>
           </section>

        </section>

        <section class="accueil__calculateur" fxLayout="column" fxLayoutAlign="center center">
   
            <h2>LE SIMULATEUR DE VOS ECONOMIES?</h2>
            <section  class="accueil__calculateur__simulateur mat-elevation-z8">
                <section fxLayout="column">
                  <span>Saisisez votre facture énergitique mensuelle:</span>
                  <mat-form-field class="example-form-field">
            
                    <input matInput type="number" formControlName="sommePayerMensuellement">
                   
                  </mat-form-field>
                  <section fxLayout="column">
                    <span>Votre facture annuelle</span>
                    <h4>{{coutAnnuelEnergitique}}€</h4>
                    <h3 class="info">Avec nos pompes à chaleurs: </h3>
                    <span>Pompe à chaleur Air-air (mois / annuel)</span>
                    <h4>{{coutPacAirAirMensuel}}€ / {{coutPacAirAirAnnuel}}€</h4>
                    <span>Pompe à chaleur Air-eau (mois / annuel)</span>
                    <h4>{{coutPacAirEauMensuel}}€ / {{coutPacAirEauAnnuel}}€</h4>
                  </section>
                 
                  
                </section>
             
            </section>
         
        </section>
        
    </section>
  </form>
