.accueil {
    &__presentation, &__agrement, &__calculateur {
        text-align: center;
        border: 1px solid transparent;
        padding: 10px;
        min-height: 450px;
    }
    &__calculateur {

        &__simulateur {
            border: 1px solid black;
            padding: 20px;
        }
    }

}


img {
    max-width: 150px;
    max-height: 160px;
    padding: 5px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
   
    padding: 25px;
    text-align: center;
    max-width: 162px;
    font-size: 14px;
    text-align: center;
}

h2{
    font-weight: bolder !important;
    text-decoration: underline;
}

h4 {
    font-weight: bolder !important;
    border: 1px solid;
}

.info {
    font-weight: bolder;
    text-decoration: underline;
}

