<section fxLayout="column">
  <section fxLayout="row" fxLayout.lt-md="column" class="partenaire">
    <img src="assets/partenaire/Mitsubishi.jpg">
    <img src="assets/partenaire/Panasonic.jpg">
    <img src="assets/partenaire/Toshiba.jpg">
    <img src="assets/partenaire/lg.jpg">
    <img src="assets/partenaire/zodiac.jpg">
    <img src="assets/partenaire/atl.jpg">
   
  </section>

  <section fxLayout="row" fxLayout.lt-md="column" class="partenaire">
    <img src="assets/partenaire/ca.jpg">
    <img src="assets/partenaire/cm.jpg">
    <img src="assets/partenaire/cofidis.jpg">
    <img src="assets/partenaire/domo.jpg">
    <img src="assets/partenaire/fran.jpg">
    <img src="assets/partenaire/orias.jpg">
    
  </section>
</section>
