.menu-spacer {
    flex: 1 1 auto;
  }

  a:hover{
    text-decoration: underline white;
    color: red;
    font-weight: bold;
  }

  a{
    padding: 10px;
  }

  .mat-toolbar.mat-primary {
    background: rgb(18,221,126);
background: linear-gradient(90deg, rgba(18,221,126,1) 0%, rgba(2,0,36,1) 0%, rgba(0,249,112,0.894462008436187) 0%, rgba(96,159,241,1) 0%, rgba(6,159,154,0.5667309159992122) 100%, rgba(0,212,255,1) 100%);
    color: black !important;
    min-height: 100px !important;

}
  
  mat-sidenav-content{
    background: linear-gradient(135deg, 12% #92FA92 , 88% #F7F9F9 ,);
  }

  .logo{
    max-width: 250px;
    max-height: 200px;
    padding: 10px;
    border-radius: 10%;
  }

  .module{
    border: 0.5px solid #B8E4AE;
    background: rgb(18,221,126);
    background: linear-gradient(90deg, rgba(18,221,126,1) 0%, rgba(2,0,36,1) 0%, rgba(0,249,112,0.894462008436187) 0%, rgba(96,159,241,1) 0%, rgba(6,159,154,0.5667309159992122) 100%, rgba(0,212,255,1) 100%);
    min-height: 50px;
  }

  h2 {
    font-family: 'titre1';
  }

  .title{
    font-weight: bolder;
    font-size: 21px;
    letter-spacing: 0.1em;
  }