<div style="height: 80vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>list</mat-icon>
        </button>
        <img src="assets/logo.PNG" class="logo" (click)="scrollTo('.accueil')" fxShow="true"  >
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md fxLayoutAlign="center center">
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        
          <div class="dropdown">
            <a  mat-button>NOS POMPES A CHALEURS <mat-icon>keyboard_arrow_down</mat-icon></a>
            <div class="dropdown-child">
            <a (click)="scrollTo('.produits')">FONCTIONNEMENT ? <mat-icon>settings</mat-icon></a>
            <a (click)="scrollTo('.etape')">LES ETAPES ? <mat-icon>today</mat-icon></a>
            </div>
            </div>
            <div class="dropdown">
              <a  mat-button>QUI SOMME NOUS ? <mat-icon>keyboard_arrow_down</mat-icon></a>
              <div class="dropdown-child">
                <a (click)="scrollTo('.identite')" mat-button>QUI SOMMES NOUS ? <mat-icon>person</mat-icon></a>
                <a (click)="scrollTo('.recommandations')" mat-button>NOS RECOMMANDATIONS ? <mat-icon>how_to_reg</mat-icon></a>
                <a (click)="scrollTo('.partenaires')" mat-button>NOS PARTENAIRES ? <mat-icon>person</mat-icon></a>
              </div>
              </div>
          <a (click)="scrollTo('.livre')" mat-button>LIVRE D'OR <mat-icon> border_color</mat-icon></a>
          <a (click)="scrollTo('.faq')" mat-button>FAQ <mat-icon>thumb_up_alt</mat-icon></a>
          <div class="dropdown">
            <a  mat-button>PRO <mat-icon>keyboard_arrow_down</mat-icon></a>
            <div class="dropdown-child">
              <a routerLink="collaborateurs" mat-button>COLLABORATEURS <mat-icon>meeting_room</mat-icon></a>
            </div>
            </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Fermer</a>
          <a (click)="scrollTo('.produits')" mat-button>PRODUITS ET SERVICES <mat-icon>wb_incandescent</mat-icon></a>
          <a (click)="scrollTo('.confort')" mat-button>CONFORT ET ECONOMIE <mat-icon>wb_incandescent</mat-icon></a>
          <a (click)="scrollTo('.identite')" mat-button>QUI SOMMES NOUS ? <mat-icon>person</mat-icon></a>
          <a (click)="scrollTo('.agrement')" mat-button>POURQUOI NOUS FAIRE CONFIANCE ? <mat-icon>star</mat-icon></a>
          <a (click)="scrollTo('.contact')" mat-button>PRENDRE CONTACT <mat-icon> email</mat-icon></a>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Fermer</a>
        </mat-nav-list>
      </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
          <section fxLayout="column" fxLayoutAlign="center center">
            <section fxLayout="row" fxLayoutAlign="center center">

           
            </section>
            <h2 class="title">Le specialiste des energies renouvellables depuis 2008</h2>
            <h2><mat-icon> call</mat-icon>:<a>01-01-01-01-01</a ><a href="mailto:email@example.com"> Demande d'informations<mat-icon>alternate_email</mat-icon></a></h2>
          </section>
          <section class="module">
            <h1 fxLayoutAlign="center center" >POURQUOI NOUS FAIRE CONFIANCE ?</h1>
          </section>
            <app-accueil class="accueil"></app-accueil>
          <section class="module">
            <h1 fxLayoutAlign="center center">COMMENT SA FONCTIONNE ?</h1>
          </section>
          <app-produits fxLayoutAlign="center center" class="produits"></app-produits>
          <section class="module">
            <h1 fxLayoutAlign="center center" class="etape">LES ETAPES AVEC NOUS DE A a Z</h1>
          </section>
        
          <app-frise-temporel ></app-frise-temporel>
          <section class="module"> 
            <h1 fxLayoutAlign="center center">QUI SOMME NOUS? </h1>
          </section>
          <app-idendite fxLayoutAlign="center center" class="identite"></app-idendite>
          <!-- <section class="module">
            <h1 fxLayoutAlign="center center" class="recommandations">NOS RECOMMANDATIONS?</h1>
            </section>
        <app-recommandations></app-recommandations> -->
          <section class="module">
            <h1 fxLayoutAlign="center center" class="partenaires">NOS PARTENAIRES?</h1>
            </section>
       <app-partenaires></app-partenaires>
          <section class="module">
            <h1 fxLayoutAlign="center center" class="livre"> LE LIVRE D'OR</h1>
            </section>
            <app-livre-or></app-livre-or>
          <section class="module">
            <h1 fxLayoutAlign="center center" class="faq">FOIRE AU QUESTION</h1>
            </section>
            <app-faq></app-faq>
        </mat-sidenav-content>
    </mat-sidenav-container>

  