.menu-spacer {
    flex: 1 1 auto;
  }

  a:hover{
    text-decoration: underline white;
    color: red;
    font-weight: bold;
  }

  a{
    padding-left: 5px;
    line-height: 10px;
  }

  .mat-toolbar.mat-primary {
    background: rgb(18,221,126);
background: linear-gradient(90deg, rgba(18,221,126,1) 0%, rgba(2,0,36,1) 0%, rgba(0,249,112,0.894462008436187) 0%, rgba(96,159,241,1) 0%, rgba(6,159,154,0.5667309159992122) 100%, rgba(0,212,255,1) 100%);
    color: black !important;
    min-height: 120px !important;

}
  
  mat-sidenav-content{
    background: linear-gradient(135deg, 12% #92FA92 , 88% #F7F9F9 ,);
  }

  .logo{
    max-width: 250px;
    max-height: 200px;
    padding: 10px;
    border-radius: 10%;
    margin-top: 40px;
    cursor: pointer;
  }

  .module{
    border: 0.5px solid #B8E4AE;
    background: rgb(18,221,126);
    background: linear-gradient(90deg, rgba(18,221,126,1) 0%, rgba(2,0,36,1) 0%, rgba(0,249,112,0.894462008436187) 0%, rgba(96,159,241,1) 0%, rgba(6,159,154,0.5667309159992122) 100%, rgba(0,212,255,1) 100%);
    min-height: 50px;
  }

  h1{
    font-weight: bolder;
    letter-spacing: 0.2em;
    font-size: 3.3vw;
    padding: 10px;
  }

  h2 {
    font-family: 'titre1';
  }

  .title{
    font-weight: bolder;
    font-size: 21px;
    letter-spacing: 0.1em;
  }



  .boutonmenuprincipal {
    background-color: #e83737;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    }
    .boutonmenuprincipal:hover {
    background-color: #ff4444;
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-child {
    display: none;
    margin-top: 30px;
    cursor: pointer;
    }
    .dropdown-child a {
    text-decoration: none;
    display: block;
    font-size: 12px;
    }
    .dropdown-child a :active {
      text-decoration: underline white;
    color: red !important;
    font-weight: bold;
      display: block;
      }
    .dropdown:hover .dropdown-child {
    display: block;
    color: red !important;
    }

    .mat-h1, .mat-headline, .mat-typography, h1 {
      /* font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif; */
      letter-spacing: normal !important;
     
      margin: 0 0 16px !important;
  }
