<section fxLayout="row">
  <form [formGroup]="blogForm">
    <section fxLayout="column">

      <span>AJOUTER VOTRE COMMENTAIRE</span>
  <mat-form-field class="example-form-field">
    <mat-label>Nom -- prénom -- pseudonyme</mat-label>
    <input matInput type="text" formControlName="article">
    <button mat-button *ngIf="blogForm.get('article').value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Votre commentaire</mat-label>
    <input matInput type="text" formControlName="author">
    <button mat-button *ngIf="blogForm.get('author').value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button (click)="createComments()">Je commente</button>
</section>
</form>

<div class="component">
    <ul class="align">
      <li>
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign blue">
                <h1>NOTRE LIVRE D'OR</h1>
              </div>
            </li>
            <li></li>
          </ul>

          <!-- Pages -->
          
          <!-- <ul class='page' *ngFor="let comment of comments | slice:0:3; let i=index">
            <li >Autheur: {{comment?.author}}</li>
            <li class="btn">...{{comment?.article}}</li>
          </ul>
          
          <section fxLayout="row" class="paginate" *ngFor="let index of managementOfPaginate()">
            <p>{{index}}</p>
          </section> -->
          <div *ngFor="let comment of pagedItems " class='page'>
            <li >Autheur: {{comment?.author}}</li>
            <li class="btn">...{{comment?.article}}</li></div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
    
          <!-- Back -->


          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h1>Laisser vos commentaires</h1>
            
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>