<section fxLayout="row" fxLayout.lt-md="column">
  <form [formGroup]="blogForm" class="mat-elevation-z8">
    <section fxLayout="column">

      <span>AJOUTER VOTRE COMMENTAIRE</span>
  <mat-form-field class="example-form-field">
    <mat-label>Votre nom</mat-label>
    <input matInput type="text" formControlName="author">
    <button mat-button *ngIf="blogForm.get('author').value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Votre commentaire</mat-label>
    <input matInput type="text" formControlName="article">
    <button mat-button *ngIf="blogForm.get('article').value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button (click)="createComments()" [disabled]="!this.blogForm.get('article').value">Je commente</button>
</section>
</form>

<div class="component">
    <ul class="align">
      <li>
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign blue">
                <h1>NOTRE LIVRE D'OR</h1>
              </div>
            </li>
            <li></li>
          </ul>

       
          <div *ngFor="let comment of pagedItems" class="page section">
            <li >Autheur: {{comment?.author}}</li>
            <li class="btn">...{{comment?.article}}</li></div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Précédent</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Suivant</a>
                </li>
                
            </ul>
    
          <!-- Back -->


          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h1>Laisser vos commentaires</h1>
            
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>