

<section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="produits">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Pompes à chaleurs AIR/EAU">
            <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
                
<iframe width="560" height="550" src="https://www.youtube.com/embed/tZ7c_YCM0Is" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <section fxLayout="column" class="produits__description">
                    <section fxLayout="column">
                        <span class="produits__description__cpu">QUOI ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">COMMENT ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">POURQUOI ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">OU ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">COMMENT ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    
                    <button>
                        Demandez plus d'informations
                        <mat-icon>loupe</mat-icon>
                    </button>
                </section>
            </section>
        </mat-tab>
        <mat-tab label="Pompes à chaleurs AIR/AIR">
            <h3 class="title">Pompes à chaleurs AIR/EAU</h3>
            <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
                <iframe width="560" height="550" src="https://www.youtube.com/embed/3i-CctgGKPY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <section fxLayout="column" class="produits__description">
                    <section fxLayout="column">
                        <span class="produits__description__cpu">QUOI ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">COMMENT ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">POURQUOI ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">OU ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">COMMENT ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    
                    <button>
                        Demandez plus d'informations
                        <mat-icon>loupe</mat-icon>
                    </button>
                </section>
            </section>
        </mat-tab>
        <mat-tab label="Ballons thermodynamiques">
            <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
                <iframe width="560" height="550" src="https://www.youtube.com/embed/5gGRwJpj_lc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <section fxLayout="column" class="produits__description">
                    <section fxLayout="column">
                        <span class="produits__description__cpu">QUOI ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">COMMENT ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">POURQUOI ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">OU ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    <section fxLayout="column">
                        <span class="produits__description__cpu">COMMENT ?</span>
                        <span class="produits__description__cpuDef">Pompe à chaleur air-eau mistchubiti ...</span>
                    </section>
                    
                    <button>
                        Demandez plus d'informations
                        <mat-icon>loupe</mat-icon>
                    </button>
                </section>
            </section>
        </mat-tab>
      </mat-tab-group>
</section>
