<section fxLayout="row" class="friseTemporel">

    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
            <mat-icon>filter_1</mat-icon>
        <span>Bilan énergitique 100% gratuit</span>
        </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
            <mat-icon>filter_2</mat-icon>
        <span>Demande de subventions géré par nos soins</span>
        </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
            <mat-icon>filter_3</mat-icon>
        <span>Pré-visite-technique</span>
        </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
            <mat-icon>filter_4</mat-icon>
        <span>Installation</span>
    </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
            <mat-icon>filter_5</mat-icon>
        <span>Suivi et entretien</span>
    </section>
    </section>

</section>
