<section fxLayout="row" class="friseTemporel">

    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
        <p>ETAPE 1</p>
        <span>Bilan énergitique 100% gratuit</span>
        </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
        <p>ETAPE 2</p>
        <span>Demande de subventions géré par nos soins</span>
        </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
        <p>ETAPE 3</p>
        <span>Pré-visite-technique</span>
        </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
        <p>ETAPE 4</p>
        <span>Installation</span>
    </section>
    </section>
    <section fxFlex="20%" class="friseTemporel__block">
        <section fxLayout="column">
        <p>ETAPE 5</p>
        <span>Suivi et entretien</span>
    </section>
    </section>

</section>
