<section fxLayout="column" fxLayoutAlign="center center">
    <span fxLayoutAlign="center center">INFORMATIONS COLLABORATEURS</span>

    <section *ngFor="let info of informations">
        <section *ngIf="info.type === 'challenge'">
            

        </section>

        <section *ngIf="info.type === 'administrative'">

        </section>

        <section *ngIf="info.type === 'collectivite'">

        </section>

        <section *ngIf="info.type === 'avertissement'">

        </section>
    </section>
</section>