<section fxLayout="column" fxLayoutAlign="center center">
    <span fxLayoutAlign="center center">INFORMATIONS COLLABORATEURS</span>

    <section *ngFor="let info of informations">
        <section *ngIf="info.title === null" fxLayout="column">
            
            <h1>AUNCUNE INFORMATIONS POUR LE MOMENT:</h1>
           

        </section>
        <section *ngIf="info.type === 'challenge'" fxLayout="column" class="section mat-elevation-z8">
            
            <h1>CHALLENGE:</h1>
            <img src="assets/challenge.jpg">
            <h2>{{info.title}}</h2>
            <h3>{{info.information}}</h3>

        </section>

        <section *ngIf="info.type === 'administrative'" fxLayout="column" class="section mat-elevation-z8">

        </section>

        <section *ngIf="info.type === 'collectivite'" fxLayout="column" class="section mat-elevation-z8">

        </section>

        <section *ngIf="info.type === 'avertissement'" fxLayout="column" class="section mat-elevation-z8">
            <h1>AVERTISSEMENT:</h1>
            <img src="assets/avertissement.jpg">
            <h2>{{info.title}}</h2>
            <h3>{{info.informations}}</h3>
        </section>
    </section>
</section>