<section>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="INFORMATIONS-EQUIPE"><app-team-information></app-team-information></mat-tab>
        <mat-tab label="CREATION D'INFORMATIONS"><app-add-information></app-add-information></mat-tab>
        <mat-tab label="OUTIL">Content 2</mat-tab>
        <mat-tab label="COMMENTAIRES"><app-blog-validation></app-blog-validation></mat-tab>
        <mat-tab label="COLLABORATEURS"><app-gestion-team></app-gestion-team></mat-tab>
      </mat-tab-group>
</section>
