<section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <section fxLayout="column">
    <h3>Nos équipes</h3>
    <span> A votre service</span>
  </section>
    <section>
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/chou_rave.jpg" alt="Angular Carousel 1">
              </div>
              <div class="carousel-caption">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/logo.PNG" alt="Angular Carousel 2">
              </div>
              <div class="carousel-caption">
                
              </div>
            </ng-template>
          </ngb-carousel>
    </section>
</section>
