<div class='caroussel_diapo'>
  <input checked id="carou_un" name="rotation" type="radio">
  <label for="carou_un">Notre équipe administrative</label>
  <input id="carou_deux" name="rotation" type="radio">
  <label for="carou_deux">Notre équipe technique</label>
  <input id="carou_trois" name="rotation" type="radio">
  <label for="carou_trois">Notre équipe directive</label>
  <input id="carou_quatre" name="rotation" type="radio">
  <label for="carou_quatre">Notre équipe commerciale</label>
  <input id="carou_cinq" name="rotation" type="radio">
  <label for="carou_cinq">Notre équipe de maintenance</label>
  
  <div class="contenu_carou">
  <div class="caroussel">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>EQUIPE ADMINISTRATIVE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         Il réalise vos demande de subvention, formalise tous nos dossiers et assure la liaison entre les équipes
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a href="mailto:email@example.com"> Demande d'informations<mat-icon>alternate_email</mat-icon></a></button>
        <button mat-button>010101010101</button>
      </mat-card-actions>
    </mat-card>



    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>EQUIPE TECHNIQUE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         Il réalise vos demande de subvention, formalise tous nos dossiers et assure la liaison entre les équipes
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a href="mailto:email@example.com"> Demande d'informations</a></button>
        <button mat-button>010101010101</button>
      </mat-card-actions>
    </mat-card>
    
 
  </div>
  </div>
  </div>	
  