<div class='caroussel_diapo'>
  <input checked id="carou_un" name="rotation" type="radio">
  <label for="carou_un">Notre équipe administrative</label>
  <input id="carou_deux" name="rotation" type="radio">
  <label for="carou_deux">Notre équipe technique</label>
  <input id="carou_trois" name="rotation" type="radio">
  <label for="carou_trois">Notre équipe directive</label>
  <input id="carou_quatre" name="rotation" type="radio">
  <label for="carou_quatre">Notre équipe commerciale</label>
  <input id="carou_cinq" name="rotation" type="radio">
  <label for="carou_cinq">Notre équipe de maintenance</label>
  
  <div class="contenu_carou">
  <div class="caroussel">
  <img src="assets/sub/ademe.png" alt>
  <img src="assets/sub/ademe.png" alt>
  <img src="assets/sub/ademe.png" alt>
  <img src="assets/sub/ademe.png" alt>
  <img src="assets/sub/ademe.png" alt>
  </div>
  </div>
  </div>	
  